body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  min-height: 100vh;
  .home-sidebar {
    .home-sidebar-logo {
      padding: 7.5px 10px;
      text-transform: uppercase;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      transition: all 0.35s;
      margin: 5px 0;
      .ant-image {
        max-width: 30px;
        height: auto;
      }
      strong {
        margin-left: 10px;
        display: block;
        white-space: nowrap;
        color: #fff;
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
  .home-layout {
    .home-layout-breadcrumb {
      margin: 15px;
    }
    .home-layout-content {
      margin: 0 15px;
      background: #fff;
      height: 100%;
      padding: 15px;
    }
    .home-layout-footer {
      text-align: center;
      @media (max-width: 767px) {
        padding: 15px;
        font-size: 0.75rem;
      }
    }
  }
}

.dashboard-product {
  .dashboard-product-data {
    .ant-space-item {
      padding-bottom: 15px;
      box-shadow: inset 0 -1px 0 rgb(38 50 56 / 10%);
      &:first-child,
      &:last-child {
        box-shadow: none;
      }
    }
  }
}

.imei-item {
  .imei-item-head {
    padding-bottom: 15px;
    box-shadow: inset 0 -1px 0 rgb(38 50 56 / 10%);
  }
}

.dashboard-setting {
  .dashboard-setting-head {
    padding-bottom: 15px;
    box-shadow: inset 0 -1px 0 rgb(38 50 56 / 10%);
    h2 {
      margin: 0;
    }
  }
  .dashboard-setting-body {
    margin-top: 15px;
    .dashboard-setting-body-import {
      strong {
        display: block;
        margin-bottom: 15px;
      }
    }
    .dashboard-setting-body-export {
      strong {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
}

.ant-spin {
  position: absolute;
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 200px;
}

.d-flex {
  display: flex;
}

.ant-typography {
  margin-top: 0;
}

[hidden] {
  display: none !important;
}

.user-item {
  align-items: center;
}

.ant-pagination {
  text-align: center;
}

.visible-md{
  display: none;
  @media(max-width: 991px){ display: inline-block; margin-right: 5px; }
}

.hidden-md{
  display: inline-block;
  @media(max-width: 991px){ display: none; }
}
