body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  min-height: 100vh;
  .home-sidebar {
    .home-sidebar-logo {
      padding: 7.5px 10px;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      transition: all 0.35s;
      margin: 5px 0;
      img{
        max-width: 30px;
        height: auto;
      }
      span {
        margin-left: 10px;
        display: block;
        white-space: nowrap;
      }
    }
  }
  .home-layout{
    .home-layout-content{
      margin: 0 15px;
      .home-layout-content-wrapper{
        background: #FFF;
        height: 100%;
        padding: 15px;
      }
    }
    .home-layout-footer{
      text-align: center;
    }
  }
}
