body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  min-height: 100vh;
  .home-sidebar {
    .home-sidebar-logo {
      padding: 7.5px 10px;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      transition: all 0.35s;
      margin: 5px 0;
      img {
        max-width: 30px;
        height: auto;
      }
      span {
        margin-left: 10px;
        display: block;
        white-space: nowrap;
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
  .home-layout {
    .home-layout-breadcrumb {
      margin: 15px;
    }
    .home-layout-content {
      margin: 0 15px;
      background: #fff;
      height: 100%;
      padding: 15px;
    }
    .home-layout-footer {
      text-align: center;
      @media (max-width: 767px) {
        padding: 15px;
        font-size: 0.75rem;
      }
    }
  }
}
